<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="result.html" th:action="@{register}"
	th:object="${member}" method="post">
	<table border="1">
	<tr>
	<td>유저 ID</td>
	<td>
	<input type="text" name="text" th:field="*{userId}"/>
	<span th:errors="*{userId}">userId 에러메세지</span>
	</td>
	<tr>
	<td>유저이름</td>
	<td><input type="text" name="text" th:field="*{userName}"/>
	<span th:errors="*{userName}">UserName 에러메세지</span>
	</td>
	</tr>
	
	<tr>
	<td>유저이메일</td>
	<td><input type="text" name="text" th:field="*{email}"/>
	<span th:errors="*{email}">email 에러메세지</span>
	</td>
	</tr>
	
	<tr>
	<td>유저 생년월일</td>
	<td><input type="date" name="dateOfBirth" th:field="*{dateOfBirth}"/>
	<span th:errors="*{dateOfBirth}">생년월일 에러메세지</span>
	</td>
	</tr>
	
	<tr>
	<td>유저 우편번호</td>
	<td><input type="text" name="adress" th:field="*{address.postCode}"/>
	<span th:errors="*{address}">생년월일 에러메세지</span>
	</td>
	</tr>
		<tr>
	<td>유저 주소</td>
	<td><input type="text" name="adress" th:field="*{address.location}"/>
	<span th:errors="*{address}">생년월일 에러메세지</span>
	</td>
	</tr>
	
	<tr>
	<td>카드번호</td>
	<td><input type="text" name="card" th:field="*{cardList[0].no}"/>
	<span th:errors="*{cardList[0].no}">생년월일 에러메세지</span>
	</td>
	</tr>
	<tr>
	<td>카드유효번호</td>
	<td><input type="text" name="card" th:field="*{cardList[0].validMonth}"/>
	<span th:errors="*{cardList[0].validMonth}">생년월일 에러메세지</span>
	</td>
	</tr>
	
	<tr>
	<td>카드번호2</td>
	<td><input type="text" name="card" th:field="*{cardList[1].no}"/>
	<span th:errors="*{cardList[1].no}">생년월일 에러메세지</span>
	</td>
	</tr>
	<tr>
	<td>카드유효번호2</td>
	<td><input type="text" name="card" th:field="*{cardList[1].validMonth}"/>
	<span th:errors="*{cardList[1].validMonth}">생년월일 에러메세지</span>
	</td>
	</tr>
	
	
	
	</table>
	<button name="register" type="submit">등록</button>
	
	
	
	</form>
</body>
</html>