<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	 <a th:href="@{register?userId=hong&password=1234}">
	registerByParameter
	</a><br>
	
	<a th:href="@{register/hong/100}">registerByPath</a><br>
	
	
	<form th:action="@{register01}" method="post">
	userId<input type="text" name="userId" value="hongkd"><br>
	password<input type="text" name="password" value="1234"><br>
	coin<input type ="text" name="coin" value="1">
	<input type="submit" value="전송">
	</form>
	<br>
	<br>
	
	<h3>RequestParam</h3>
	<form th:action="@{register02}" method="post">
	userId<input type="text" name="userId" value="hongkd"><br>
	password<input type="text" name="password" value="1234"><br>
	coin<input type ="text" name="coin" value="1">
	<input type="submit" value="전송">
	</form>
	
	<br>
	<br>
	<h3>요청처리 자바빈즈</h3>
	<form th:action="@{register03}" method="post">
	uId<input type="text" name ="uId"><br>
	userId<input type="text" name="userId"><br>
	password<input type="text" name="password"><br>
	coin<input type ="text" name="coin">
	<input type="submit" value="전송">
	</form>
	
	<br>
	<h3>Date 타입처리</h3>
	<a th:href="@{registerByGet01?userId=hong&dateOfBirth=20190801}">dateOfBirth</a><br>
	
		<br>
	<h3>복수선택 셀렉트박스</h3>
	<form th:action="@{register04}" method="post">
	carArray<select name="carArray" multiple>
	<option value="volvo">Volvo</option>
	<option value="audi">Audi</option>
	<option value="bents">Bents</option> 
	</select><br>
	<input type="submit" value="전송">
	</form>
	
	<br>
	
	<form th:action="@{register05}" method="post">
	Are you developer?:<input type="checkbox" name="developer" value="Y">
	<input type="checkbox" name="developer" value="N">
	<br>
	<input type="submit" value="전송">
	</form>
	<br>
	
	<form th:action="@{register06}" method="post">
	카드1-번호 <input type="text" name="cardList[0].no" />
	카드1-유효년일 <input type="text" name="cardList[0].validMonth" />
	<br>
	카드1-번호 <input type="text" name="cardList[1].no" />
	카드1-유효년일 <input type="text" name="cardList[1].validMonth" />
	<br>
	<input type="submit" value="전송">
	</form>
	
	
	<br>
	<h3>파일 업로드 폼 요청 처리방식</h3>
	<form th:action="@{registerFile01}" method="post" encType="multipart/form-data">
	<input type="file" name="picture"> <input type="submit" value="전송">
	</form>
	
	
	<br>
	<form th:action="@{registerFile02}" method="post" encType="multipart/form-data">
	userID : <input type="text" name="userId">
	password : <inpurt type="password" name="password">
	File <input type="file" name="picture">
	<input type="file" name="picture"> 
	<input type="submit" value="전송">
	</form>

	<h3>파일 자바빈즈 여러개 처리하기</h3>
	<form th:action="@{registerFile03}" method="post" encType="multipart/form-data">
	<input type="file" name="pictureList">
	<br>
	<input type="file" name="pictureList">
	<input type="submit" value="전송">
	</form>
	
		<h3>파일 배열로 처리하기</h3>
	<form th:action="@{registerFile04}" method="post" encType="multipart/form-data">
	<input type="file" name="pictureList">
	<br>
	<input type="file" name="pictureList">
	<input type="submit" value="전송">
	</form>
</body>
</html>