<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http//www.ultrq.net.nz/thymeleaf/layout"
layout:decorate="~{layout/main_template}"
	  xmlns:th="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- <div layout:fragment="header">
헤더다 여기가 내가 대체할곳인가?
</div> -->

<!-- <div th:insert="~{fragment/header::header}"></div> -->


<div layout:fragment="content">

<h1>Hello World</h1>
	
	<p th:text="${serverTime}"> 현재 서버시간은 ${serverTime}.</p>
</div>

<div th:text="${session.userInfo.userId}" th:unless="${session==null}">${userInfo.userId}</div>


<div>
	<a href="/board/list">Board</a>
</div>

<div>
	<a href="/notice/list">list</a>
</div>

//로그인을 하지 않은 경우 true
<div th:authorize ="isAnonymous()"></div>
<a href="/login">로그인</a>

<div th:authorize ="isAuthenticated()"></div>
<a href="/logout">로그아웃</a>


<!-- <div th:insert="~{fragment/footer::footer}"></div> -->
</body>
</html>