<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Login</title>

    <h2 th:text="${error}">${error}</h2>
    <h2 th:text ="${logout}">${logout}</h2>
</head>
<body>
<h1>Login Page</h1>
<form method="post" th:action="@{/login}">
    <div>
        <input type="text" name="username">
    </div>
    <div>
        <input type="text" name ="password">
    </div>

    <input type="hidden" id="token" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <input type="submit">




</form>
</body>
</html>